{% extends "_base_template.html" %}
{% block content %}
  <h1>LydianChord's Site (under construction)</h1>
  <p>Welcome to my Neocities site</p>
  <hr>
  <h3>Links</h3>
  <ul>
    <li>
      My music
      <ul>
        <li><a href="https://lydianchord.bandcamp.com/">Bandcamp</a></li>
        <li><a href="https://www.youtube.com/c/LydianChord">YouTube</a></li>
        <li><a href="https://soundcloud.com/lydianchord">Soundcloud</a></li>
      </ul>
    </li>
    <li>
      My games
      <ul>
        <li><a href="https://lydianchord.itch.io/">itch.io</a></li>
      </ul>
    </li>
    <li>
      Social media
      <ul>
        <li><a href="https://twitter.com/LydianChord">Twitter</a></li>
        <li><a href="https://bsky.app/profile/lydianchord.bsky.social">Bluesky</a></li>
      </ul>
    </li>
  </ul>
  <h3>Most Recent Release</h3>
  <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1305550469/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/track=3421782258/transparent=true/" seamless><a href="https://tbkgao.bandcamp.com/album/pure-midi-volume-2">PURE MIDI Volume 2 by LydianChord</a></iframe>
{% endblock %}