{% extends "_base_template.html" %}
{% block content %}
  <h1>Other Stuff</h1>
  <h3>Neocities Links</h3>
  <div class="site-buttons">
    <div>
      <img src="/images/lydianchord-site-button.png" alt="LydianChord site button">
    </div>
    <div style="margin-bottom: 10px;">
      <textarea><a href="https://lydianchord.neocities.org/"><img src="https://lydianchord.neocities.org/images/lydianchord-site-button.png" alt="LydianChord site button"></a></textarea>
    </div>
    <div>
      <a href="https://tnywndr.cafe/">
        <img src="https://tnywndr.cafe/img/button_tnywndr.gif" alt="tiny wanderer site button">
      </a>
      <a href="https://hardmint.neocities.org/">
        <img src="https://hardmint.neocities.org/images/hmbutton.png" alt="hardmint site button" style="width: 88px; height: 31px;">
      </a>
      <a href="https://nomnomnami.com/">
        <img src="https://nomnomnami.com/images/site_button.gif" alt="NomnomNami site button">
      </a>
      <a href="https://loreleiandtheghost.com/">
        <img src="https://loreleiandtheghost.com/images/88x31/jaelights.gif" alt="Lorelei and the Ghost site button">
      </a>
      <a href="https://athenamite.org/">
        <img src="https://athenamite.org/athenabutton.png" alt="athenamite site button">
      </a>
    </div>
  </div>
  <h3>What I'm Currently Reading/Watching/Playing/Listening To</h3>
  <p><small>Last updated: 2025-05-29</small></p>
  <ul>
    <li>
      Books
      <ul>
        <li>
          Various secondhand atlases I've found on sale
        </li>
      </ul>
    </li>
    <li>
      Manga
      <ul>
        <li>
          <a href="https://twitter.com/ata_n">Otherside Picnic</a>
          (I've read the novels up to volume 9)
        </li>
        <li><a href="https://twitter.com/naekawa_sai">This Monster Wants to Eat Me</a></li>
        <li><a href="https://twitter.com/loveodoro">Mietemasu yo! Aizawa-san</a></li>
      </ul>
    </li>
    <li>
      Shows
      <ul>
        <li>The Apothecary Diaries</li>
        <li>Gundam GQuuuuuuX</li>
        <li>Mono</li>
      </ul>
    </li>
    <li>
      Games
      <ul>
        <li>
          Final Fantasy XIV
          (Endwalker)
        </li>
      </ul>
    </li>
    <li>
      Music
      <ul>
        <li>
          Various Final Fantasy soundtracks
          (learning the songs on the piano... and computer keyboard
          so I can perform them in XIV)
        </li>
      </ul>
    </li>
  </ul>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ojZaWERcbaI?si=6UpbPsH284ncYBcJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <h3>Thoughts</h3>
  <ul>
    <li>
      2025-05-29
      <ul>
        <li>
          <details>
            <summary>Otherside Picnic: Volume 9 novel spoilers</summary>
            A lot of yuri series kind of decline in quality or just end
            serialization after the main couple officially gets together, so
            I'm really glad Otherside Picnic is still continuing with most of
            the focus on Sorawo and Toriko, and the Otherside incidents are
            still as unsettling as ever. It's amusing how easily Sorawo shows
            her affection for Toriko now despite constantly agonizing over how
            to characterize their relationship.
          </details>
        </li>
        <li>
          I hadn't played HoloCure until recently, but it's surprisingly fun.
          Thanks to FFXIV, I was prepared for the AOE patterns and the math
          boss.
        </li>
      </ul>
    </li>
    <li>
      2025-05-12
      <ul>
        <li>
          Exploring the First in Shadowbringers was a nice change of pace, and
          seeing the night return after defeating each Lightwarden was a
          stunning experience. Also, the dwarves were funny, especially Giott.
        </li>
        <li>
          The Penguin Historical Atlas of the Medieval World gave a good
          overview of the middle ages, mainly in Europe and the Middle East.
          It's a bit mind-boggling to think about how much of our modern world
          was shaped by some monarch or religious faction winning or losing
          a conflict somewhere centuries ago.
        </li>
        <li>
          The everyday life of Mirai and Liko as roommates raising their
          magical daughter (and stopping another world-ending threat) in Witchy
          Pretty Cure Mirai Days was entertaining if short.
        </li>
      </ul>
    </li>
    <li>
      2025-02-02
      <ul>
        <li>
          Now that I'm off the free trial in FFXIV, the market board is
          actually pretty fun. It's kind of ridiculous what you can get away
          with by just going to different worlds for much better prices.
        </li>
        <li>
          The older maps in History of World Trade in Maps were neat to look
          at. It's interesting how common south-up maps used to be.
        </li>
        <li>
          Acro Trip was a silly, enjoyable magical girl show with some good
          (non-dark) twists.
        </li>
        <li>
          Season three of Love Live Superstar was a decent send-off for the
          third years. I still preferred when there were fewer members, even if
          I did like most of the newer characters.
        </li>
      </ul>
    </li>
    <li>
      2024-11-24
      <ul>
        <li>
          Stormblood was fine. Much more engaging than A Realm Reborn, at
          least. I did really enjoy the Omega raid fights even if they were
          mainly nostalgia bait.
        </li>
        <li>
          I like staring at maps, so The Penguin Historical Atlas of Ancient
          Rome was a fun read even though it had a number of typos in the
          dates and labels.
        </li>
      </ul>
    </li>
  </ul>
{% endblock %}
