{% extends "_base_template.html" %}
{% block content %}
  <h1>Other Stuff</h1>
  <h3>What I'm Currently Reading/Watching/Playing/Listening to</h3>
  <ul>
    <li>
      Books
      <ul>
        <li>
          Various secondhand atlases I've found on sale
          (currently, The Penguin Historical Atlas of Ancient Rome)
        </li>
      </ul>
    </li>
    <li>
      Manga
      <ul>
        <li>Otherside Picnic (I've read the novels)</li>
        <li>This Monster Wants to Eat Me</li>
        <li>Mietemasu yo! Aizawa-san</li>
      </ul>
    </li>
    <li>
      Shows
      <ul>
        <li>Acro Trip</li>
        <li>Love Live Superstar</li>
      </ul>
    </li>
    <li>
      Games
      <ul>
        <li>
          Final Fantasy XIV
          (gradually making my way through the post-Stormblood quests)
        </li>
      </ul>
    </li>
    <li>
      Music
      <ul>
        <li>
          Various Final Fantasy soundtracks
          (learning the songs on the piano... and computer keyboard
          so I can perform them in XIV)
        </li>
      </ul>
    </li>
  </ul>
  <p><small>Last updated: {{ current_date }}</small></p>
{% endblock %}
