{% extends "_base_template.html" %}
{% block content %}
  <h1>Other Stuff</h1>
  <h3>What I'm Currently Reading/Watching/Playing/Listening to</h3>
  <ul>
    <li>
      Books
      <ul>
        <li>
          Various secondhand atlases I've found on sale
          (currently, The Penguin Historical Atlas of Ancient Rome)
        </li>
      </ul>
    </li>
    <li>
      Manga
      <ul>
        <li><a href="https://twitter.com/ata_n">Otherside Picnic</a> (I've read the novels)</li>
        <li><a href="https://twitter.com/naekawa_sai">This Monster Wants to Eat Me</a></li>
        <li><a href="https://twitter.com/loveodoro">Mietemasu yo! Aizawa-san</a></li>
      </ul>
    </li>
    <li>
      Shows
      <ul>
        <li>Acro Trip</li>
        <li>Love Live Superstar</li>
      </ul>
    </li>
    <li>
      Games
      <ul>
        <li>
          Final Fantasy XIV
          (gradually making my way through the post-Stormblood quests)
        </li>
      </ul>
    </li>
    <li>
      Music
      <ul>
        <li>
          Various Final Fantasy soundtracks
          (learning the songs on the piano... and computer keyboard
          so I can perform them in XIV)
        </li>
      </ul>
    </li>
  </ul>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UhMxpT1Pt6k?si=6wyfbqnbTu1EtUJx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <p><small>Last updated: {{ current_date }}</small></p>
{% endblock %}
